.MAEFRONTED//Frontend/web/renta-facil-d04c7-firebase-adminsdk-fbsvc-45eba69a39.json
.MAEFRONTED/\Frontend\web\renta-facil-d04c7-firebase-adminsdk-fbsvc-45eba69a39.json

# Firebase Service Account Credentials - BACKEND
MAEBACKEND/backend_api/firebase-serviceAccount.json
MAEBACKEND/backend_api/config.env

# Android/React Native
MAEFRONTED/Frontend/Android/node_modules/
MAEFRONTED/Frontend/Android/.expo/
MAEFRONTED/Frontend/Android/.expo-shared/
MAEFRONTED/Frontend/Android/dist/
MAEFRONTED/Frontend/Android/npm-debug.*
MAEFRONTED/Frontend/Android/*.jks
MAEFRONTED/Frontend/Android/*.p8
MAEFRONTED/Frontend/Android/*.p12
MAEFRONTED/Frontend/Android/*.key
MAEFRONTED/Frontend/Android/*.mobileprovision
MAEFRONTED/Frontend/Android/*.orig.*
MAEFRONTED/Frontend/Android/web-build/
MAEFRONTED/Frontend/Android/.env
MAEFRONTED/Frontend/Android/.env.local
MAEFRONTED/Frontend/Android/.env.development.local
MAEFRONTED/Frontend/Android/.env.test.local
MAEFRONTED/Frontend/Android/.env.production.local

# macOS
MAEFRONTED/Frontend/Android/.DS_Store

# Temporary files created by Metro
MAEFRONTED/Frontend/Android/.metro-health-check*

MAEBACKEMD/Backend/firebase-serviceAccount.json
MAEFRONTED/Frontend/web/renta-facil-d04c7-firebase-adminsdk-fbsvc-45eba69a39.json