# Firebase Service Account Credentials - BACKEND
MAEBACKEND/backend_api/firebase-serviceAccount.json
MAEBACKEND/backend_api/config.env

# Frontend WEB (secret files)
MAEFRONTEND/Frontend/web/*firebase-adminsdk*.json

# Android/React Native
MAEFRONTEND/Frontend/Android/node_modules/
MAEFRONTEND/Frontend/Android/.expo/
MAEFRONTEND/Frontend/Android/.expo-shared/
MAEFRONTEND/Frontend/Android/dist/
MAEFRONTEND/Frontend/Android/npm-debug.*
MAEFRONTEND/Frontend/Android/*.jks
MAEFRONTEND/Frontend/Android/*.p8
MAEFRONTEND/Frontend/Android/*.p12
MAEFRONTEND/Frontend/Android/*.key
MAEFRONTEND/Frontend/Android/*.mobileprovision
MAEFRONTEND/Frontend/Android/*.orig.*
MAEFRONTEND/Frontend/Android/web-build/
MAEFRONTEND/Frontend/Android/.env
MAEFRONTEND/Frontend/Android/.env.local
MAEFRONTEND/Frontend/Android/.env.development.local
MAEFRONTEND/Frontend/Android/.env.test.local
MAEFRONTEND/Frontend/Android/.env.production.local

# macOS
MAEFRONTEND/Frontend/Android/.DS_Store

# Temporary files created by Metro
MAEFRONTEND/Frontend/Android/.metro-health-check*