openapi: 3.0.3
info:
  title: EasyRent API - Sistema Completo de Marketplace Inmobiliario
  description: |
    API completa para el marketplace inmobiliario EasyRent con todas las funcionalidades:
    - 🔐 **Autenticación**: JWT + API Keys (Compatible con base de datos PostgreSQL)
    - 👥 **Gestión de usuarios y agencias**
    - 🏠 **Listings y multimedia**
    - 🔍 **Búsqueda avanzada y filtros**
    - 💎 **Sistema de planes y facturación**
    - 📊 **Analytics y reportes**
    - ✅ **Verificación y moderación**
    - 🔗 **Integraciones externas**
    
    ## Tecnologías
    - **Framework**: FastAPI + Python 3.11+
    - **Base de datos**: PostgreSQL 17
    - **Cache**: Redis
    - **Message Broker**: Apache Kafka
    - **Autenticación**: JWT (Bearer Token)
    
    ## Notas de Implementación
    - **Autenticación Firebase**: Sistema de autenticación completo con Firebase Authentication
    - **Flujo de autenticación**: Frontend → Firebase → Backend verification → JWT tokens
    - **Sin manejo de passwords**: Toda la gestión de credenciales delegada a Firebase
    - **Soporte híbrido**: Funciona con o sin Firebase configurado (modo desarrollo)
    - **Schemas actualizados**: Los modelos de datos coinciden con la implementación real en FastAPI
    
    ## Autenticación Firebase
    Para autenticarse, el cliente debe:
    1. Autenticarse con Firebase (frontend)
    2. Obtener el Firebase ID token
    3. Enviar el token al endpoint `/auth/login`
    4. Usar el JWT token devuelto para posteriores requests
    
  version: 1.0.0
  contact:
    name: Inmobiliaria Benites
    email: api@easyrent.pe
  license:
    name: Proprietary

servers:
  - url: https://api.easyrent.pe/v1
    description: Producción
  - url: https://staging-api.easyrent.pe/v1
    description: Staging
  - url: http://localhost:8000/v1
    description: Desarrollo Local

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Authentication
    description: Autenticación y autorización
  - name: Users
    description: Gestión de usuarios
  - name: Agencies
    description: Gestión de agencias inmobiliarias
  - name: Listings
    description: Propiedades y anuncios
  - name: Search
    description: Búsqueda y filtros
  - name: Media
    description: Imágenes y videos
  - name: Interactions
    description: Interacciones de usuario
  - name: Plans
    description: Planes de suscripción
  - name: Billing
    description: Facturación y pagos
  - name: Analytics
    description: Métricas y reportes
  - name: Verification
    description: Verificación y moderación
  - name: Notifications
    description: Notificaciones
  - name: Admin
    description: Administración del sistema
  - name: Integrations
    description: Integraciones externas
  - name: Bulk Operations
    description: Operaciones en lote
  - name: Webhooks
    description: Gestión de webhooks
  - name: Developer Tools
    description: Herramientas para desarrolladores
  - name: System
    description: Utilidades del sistema

paths:
  # ===========================================
  # AUTHENTICATION & AUTHORIZATION
  # ===========================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Registro de nuevo usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, first_name, last_name]
              properties:
                email:
                  type: string
                  format: email
                first_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                last_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                firebase_uid:
                  type: string
                  description: Firebase authentication UID (opcional)
                role:
                  type: string
                  enum: [user, tenant, landlord, agent, admin]
                  default: user
                national_id:
                  type: string
                  description: Número de documento de identidad
                national_id_type:
                  type: string
                  default: DNI
            example:
              email: "usuario@ejemplo.com"
              first_name: "Juan"
              last_name: "Pérez"
              phone: "+51987654321"
              role: "user"
      responses:
        '201':
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Datos inválidos
        '409':
          description: Email ya existe
        '500':
          description: Error interno del servidor

  /auth/login:
    post:
      tags: [Authentication]
      summary: Inicio de sesión con Firebase
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firebase_token]
              properties:
                firebase_token:
                  type: string
                  description: Token de autenticación Firebase ID
                  example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
            example:
              firebase_token: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT token para autorización API
                  refresh_token:
                    type: string
                    description: Token para renovar access_token
                  token_type:
                    type: string
                    default: bearer
                  expires_in:
                    type: integer
                    description: Tiempo de expiración en segundos
                  user:
                    $ref: '#/components/schemas/UserResponse'
        '400':
          description: Firebase token requerido
        '401':
          description: Token Firebase inválido o usuario no encontrado

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Cerrar sesión
      responses:
        '200':
          description: Logout exitoso

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Renovar token de acceso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token renovado

  /auth/me:
    get:
      tags: [Authentication]
      summary: Obtener información del usuario autenticado
      description: Obtiene la información del usuario que está autenticado con el token JWT
      responses:
        '200':
          description: Información del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Token inválido o expirado

  # ===========================================
  # USER MANAGEMENT
  # ===========================================
  /users:
    get:
      tags: [Users]
      summary: Listar usuarios (admin)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: role
          in: query
          schema:
            type: string
            enum: [user, tenant, landlord, agent, admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, suspended]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de usuarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'

    post:
      tags: [Users]
      summary: Crear usuario (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Usuario creado

  /users/me:
    get:
      tags: [Users]
      summary: Obtener perfil propio
      responses:
        '200':
          description: Perfil del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      tags: [Users]
      summary: Actualizar perfil propio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Perfil actualizado

    delete:
      tags: [Users]
      summary: Eliminar cuenta propia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
      responses:
        '200':
          description: Cuenta eliminada

  /users/{user_id}:
    get:
      tags: [Users]
      summary: Obtener usuario por ID
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Datos del usuario
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      tags: [Users]
      summary: Actualizar usuario (admin)
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Usuario actualizado

    delete:
      tags: [Users]
      summary: Eliminar usuario (admin)
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Usuario eliminado

  /users/me/password:
    put:
      tags: [Users]
      summary: Cambiar contraseña
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Contraseña actualizada

  /users/me/avatar:
    post:
      tags: [Users]
      summary: Subir avatar
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar actualizado

    delete:
      tags: [Users]
      summary: Eliminar avatar
      responses:
        '200':
          description: Avatar eliminado

  /users/me/preferences:
    get:
      tags: [Users]
      summary: Obtener preferencias
      responses:
        '200':
          description: Preferencias del usuario

    put:
      tags: [Users]
      summary: Actualizar preferencias
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Preferencias actualizadas

  /users/me/privacy:
    get:
      tags: [Users]
      summary: Obtener configuración de privacidad
      responses:
        '200':
          description: Configuración de privacidad

    put:
      tags: [Users]
      summary: Actualizar configuración de privacidad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacySettings'
      responses:
        '200':
          description: Configuración actualizada

  # ===========================================
  # AGENCY MANAGEMENT
  # ===========================================
  /agencies:
    get:
      tags: [Agencies]
      summary: Listar agencias
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
        - name: city
          in: query
          schema:
            type: string
        - name: verified
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de agencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAgencies'

    post:
      tags: [Agencies]
      summary: Crear agencia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgencyRequest'
      responses:
        '201':
          description: Agencia creada

  /agencies/{agency_id}:
    get:
      tags: [Agencies]
      summary: Obtener agencia por ID
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Datos de la agencia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agency'

    put:
      tags: [Agencies]
      summary: Actualizar agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgencyRequest'
      responses:
        '200':
          description: Agencia actualizada

    delete:
      tags: [Agencies]
      summary: Eliminar agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agencia eliminada

  /agencies/{agency_id}/agents:
    get:
      tags: [Agencies]
      summary: Listar agentes de la agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de agentes

    post:
      tags: [Agencies]
      summary: Agregar agente a la agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum: [agent, supervisor, manager]
      responses:
        '201':
          description: Agente agregado

  /agencies/{agency_id}/agents/{user_id}:
    delete:
      tags: [Agencies]
      summary: Remover agente de la agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agente removido

  /agencies/{agency_id}/verification:
    post:
      tags: [Agencies]
      summary: Solicitar verificación de agencia
      parameters:
        - name: agency_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                business_license:
                  type: string
                  format: binary
                tax_document:
                  type: string
                  format: binary
                additional_documents:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Solicitud de verificación enviada

  # ===========================================
  # LISTINGS MANAGEMENT
  # ===========================================
  /listings:
    get:
      tags: [Listings]
      summary: Listar propiedades
      security: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: operation_type
          in: query
          schema:
            type: string
            enum: [sale, rent, temp_rent, pre_sale]
        - name: property_type
          in: query
          schema:
            type: string
            enum: [house, apartment, office, commercial, land, warehouse]
        - name: city
          in: query
          schema:
            type: string
        - name: district
          in: query
          schema:
            type: string
        - name: min_price
          in: query
          schema:
            type: number
        - name: max_price
          in: query
          schema:
            type: number
        - name: bedrooms
          in: query
          schema:
            type: integer
        - name: bathrooms
          in: query
          schema:
            type: integer
        - name: min_area
          in: query
          schema:
            type: number
        - name: max_area
          in: query
          schema:
            type: number
        - name: min_age_years
          in: query
          schema:
            type: integer
            minimum: 0
            description: Antigüedad mínima de la vivienda en años
        - name: max_age_years
          in: query
          schema:
            type: integer
            minimum: 0
            description: Antigüedad máxima de la vivienda en años
        - name: features
          in: query
          schema:
            type: array
            items:
              type: string
        - name: amenities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: verified
          in: query
          schema:
            type: boolean
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, area_asc, area_desc, date_asc, date_desc, age_asc, age_desc, relevance]
      responses:
        '200':
          description: Lista de propiedades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListings'

    post:
      tags: [Listings]
      summary: Crear nueva propiedad
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListingRequest'
      responses:
        '201':
          description: Propiedad creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'

  /listings/{listing_id}:
    get:
      tags: [Listings]
      summary: Obtener propiedad por ID
      security: []
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Datos de la propiedad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'

    put:
      tags: [Listings]
      summary: Actualizar propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateListingRequest'
      responses:
        '200':
          description: Propiedad actualizada

    delete:
      tags: [Listings]
      summary: Eliminar propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Propiedad eliminada

  /listings/{listing_id}/status:
    put:
      tags: [Listings]
      summary: Cambiar estado de propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [draft, active, inactive, sold, rented, expired]
                reason:
                  type: string
      responses:
        '200':
          description: Estado actualizado

  /listings/{listing_id}/publish:
    post:
      tags: [Listings]
      summary: Publicar propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Propiedad publicada

  /listings/{listing_id}/unpublish:
    post:
      tags: [Listings]
      summary: Despublicar propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Propiedad despublicada

  /listings/{listing_id}/duplicate:
    post:
      tags: [Listings]
      summary: Duplicar propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Propiedad duplicada

  /listings/{listing_id}/views:
    post:
      tags: [Listings]
      summary: Registrar visualización
      security: []
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                utm_source:
                  type: string
                utm_medium:
                  type: string
                utm_campaign:
                  type: string
      responses:
        '200':
          description: Visualización registrada

  /listings/my:
    get:
      tags: [Listings]
      summary: Mis propiedades
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, inactive, sold, rented, expired]
      responses:
        '200':
          description: Mis propiedades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListings'

  # ===========================================
  # SEARCH & FILTERS
  # ===========================================
  /search:
    get:
      tags: [Search]
      summary: Búsqueda general
      security: []
      parameters:
        - name: q
          in: query
          schema:
            type: string
            description: Texto de búsqueda
        - name: location
          in: query
          schema:
            type: string
            description: Ubicación (ciudad, distrito, etc.)
        - name: lat
          in: query
          schema:
            type: number
            description: Latitud para búsqueda por proximidad
        - name: lng
          in: query
          schema:
            type: number
            description: Longitud para búsqueda por proximidad
        - name: radius
          in: query
          schema:
            type: number
            description: Radio en kilómetros
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Resultados de búsqueda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'

  /search/suggestions:
    get:
      tags: [Search]
      summary: Sugerencias de búsqueda
      security: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            description: Texto parcial para autocompletar
        - name: type
          in: query
          schema:
            type: string
            enum: [location, property_type, all]
      responses:
        '200':
          description: Sugerencias
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                        type:
                          type: string
                        count:
                          type: integer

  /search/filters:
    get:
      tags: [Search]
      summary: Obtener filtros disponibles
      security: []
      parameters:
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Filtros disponibles

  /search/saved:
    get:
      tags: [Search]
      summary: Búsquedas guardadas
      responses:
        '200':
          description: Búsquedas guardadas del usuario

    post:
      tags: [Search]
      summary: Guardar búsqueda
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, filters]
              properties:
                name:
                  type: string
                filters:
                  type: object
                notifications:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Búsqueda guardada

  /search/saved/{search_id}:
    get:
      tags: [Search]
      summary: Obtener búsqueda guardada
      parameters:
        - name: search_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Búsqueda guardada

    put:
      tags: [Search]
      summary: Actualizar búsqueda guardada
      parameters:
        - name: search_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                filters:
                  type: object
                notifications:
                  type: boolean
      responses:
        '200':
          description: Búsqueda actualizada

    delete:
      tags: [Search]
      summary: Eliminar búsqueda guardada
      parameters:
        - name: search_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Búsqueda eliminada

  # ===========================================
  # MEDIA MANAGEMENT
  # ===========================================
  /listings/{listing_id}/images:
    get:
      tags: [Media]
      summary: Obtener imágenes de propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de imágenes

    post:
      tags: [Media]
      summary: Subir imágenes
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                descriptions:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Imágenes subidas

  /listings/{listing_id}/images/{image_id}:
    put:
      tags: [Media]
      summary: Actualizar imagen
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: image_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                is_primary:
                  type: boolean
                order_index:
                  type: integer
      responses:
        '200':
          description: Imagen actualizada

    delete:
      tags: [Media]
      summary: Eliminar imagen
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: image_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Imagen eliminada

  /listings/{listing_id}/videos:
    get:
      tags: [Media]
      summary: Obtener videos de propiedad
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de videos

    post:
      tags: [Media]
      summary: Subir video
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video:
                  type: string
                  format: binary
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Video subido

  /listings/{listing_id}/videos/{video_id}:
    put:
      tags: [Media]
      summary: Actualizar video
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: video_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Video actualizado

    delete:
      tags: [Media]
      summary: Eliminar video
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: video_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Video eliminado

  /media/upload-url:
    post:
      tags: [Media]
      summary: Obtener URL de subida directa (S3 presigned)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, content_type]
              properties:
                filename:
                  type: string
                content_type:
                  type: string
                size:
                  type: integer
      responses:
        '200':
          description: URL de subida y metadata

  # ===========================================
  # USER INTERACTIONS
  # ===========================================
  /favorites:
    get:
      tags: [Interactions]
      summary: Obtener favoritos
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Lista de favoritos

  /favorites/{listing_id}:
    post:
      tags: [Interactions]
      summary: Agregar a favoritos
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Agregado a favoritos

    delete:
      tags: [Interactions]
      summary: Remover de favoritos
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Removido de favoritos

  /leads:
    get:
      tags: [Interactions]
      summary: Obtener leads (para agentes/propietarios)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: listing_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, qualified, converted, lost]
        - name: source
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de leads

    post:
      tags: [Interactions]
      summary: Crear lead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listing_id, message]
              properties:
                listing_id:
                  type: string
                  format: uuid
                message:
                  type: string
                phone:
                  type: string
                preferred_contact_time:
                  type: string
                utm_source:
                  type: string
                utm_medium:
                  type: string
                utm_campaign:
                  type: string
      responses:
        '201':
          description: Lead creado

  /leads/{lead_id}:
    get:
      tags: [Interactions]
      summary: Obtener lead por ID
      parameters:
        - name: lead_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Datos del lead

    put:
      tags: [Interactions]
      summary: Actualizar lead
      parameters:
        - name: lead_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [new, contacted, qualified, converted, lost]
                notes:
                  type: string
                follow_up_date:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Lead actualizado

  /leads/{lead_id}/notes:
    post:
      tags: [Interactions]
      summary: Agregar nota al lead
      parameters:
        - name: lead_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Nota agregada

  /reviews:
    get:
      tags: [Interactions]
      summary: Obtener reseñas
      parameters:
        - name: listing_id
          in: query
          schema:
            type: string
            format: uuid
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: agency_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Lista de reseñas

    post:
      tags: [Interactions]
      summary: Crear reseña
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_type, target_id, rating, comment]
              properties:
                target_type:
                  type: string
                  enum: [listing, agent, agency]
                target_id:
                  type: string
                  format: uuid
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        '201':
          description: Reseña creada

  /reviews/{review_id}:
    put:
      tags: [Interactions]
      summary: Actualizar reseña
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        '200':
          description: Reseña actualizada

    delete:
      tags: [Interactions]
      summary: Eliminar reseña
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reseña eliminada

  # ===========================================
  # SUBSCRIPTION PLANS
  # ===========================================
  /plans:
    get:
      tags: [Plans]
      summary: Obtener planes disponibles
      security: []
      responses:
        '200':
          description: Lista de planes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'

  /plans/{plan_id}:
    get:
      tags: [Plans]
      summary: Obtener plan por ID
      security: []
      parameters:
        - name: plan_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles del plan

  /subscriptions:
    get:
      tags: [Plans]
      summary: Obtener suscripciones del usuario
      responses:
        '200':
          description: Suscripciones del usuario

    post:
      tags: [Plans]
      summary: Crear suscripción
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id:
                  type: string
                  format: uuid
                payment_method_id:
                  type: string
                billing_cycle:
                  type: string
                  enum: [monthly, yearly]
      responses:
        '201':
          description: Suscripción creada

  /subscriptions/{subscription_id}:
    get:
      tags: [Plans]
      summary: Obtener suscripción por ID
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de la suscripción

    put:
      tags: [Plans]
      summary: Actualizar suscripción
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_id:
                  type: string
                  format: uuid
                billing_cycle:
                  type: string
                  enum: [monthly, yearly]
      responses:
        '200':
          description: Suscripción actualizada

    delete:
      tags: [Plans]
      summary: Cancelar suscripción
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                cancel_at_period_end:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Suscripción cancelada

  /subscriptions/{subscription_id}/pause:
    post:
      tags: [Plans]
      summary: Pausar suscripción
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pause_until:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Suscripción pausada

  /subscriptions/{subscription_id}/resume:
    post:
      tags: [Plans]
      summary: Reanudar suscripción
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Suscripción reanudada

  # ===========================================
  # BILLING & PAYMENTS
  # ===========================================
  /payment-methods:
    get:
      tags: [Billing]
      summary: Obtener métodos de pago
      responses:
        '200':
          description: Lista de métodos de pago

    post:
      tags: [Billing]
      summary: Agregar método de pago
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, token]
              properties:
                provider:
                  type: string
                  enum: [stripe, culqi, mercadopago, paypal]
                token:
                  type: string
                is_default:
                  type: boolean
      responses:
        '201':
          description: Método de pago agregado

  /payment-methods/{method_id}:
    put:
      tags: [Billing]
      summary: Actualizar método de pago
      parameters:
        - name: method_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_default:
                  type: boolean
      responses:
        '200':
          description: Método de pago actualizado

    delete:
      tags: [Billing]
      summary: Eliminar método de pago
      parameters:
        - name: method_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Método de pago eliminado

  /invoices:
    get:
      tags: [Billing]
      summary: Obtener facturas
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, paid, failed, refunded]
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Lista de facturas

  /invoices/{invoice_id}:
    get:
      tags: [Billing]
      summary: Obtener factura por ID
      parameters:
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de la factura

  /invoices/{invoice_id}/pay:
    post:
      tags: [Billing]
      summary: Pagar factura
      parameters:
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_method_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Pago procesado

  /invoices/{invoice_id}/download:
    get:
      tags: [Billing]
      summary: Descargar factura PDF
      parameters:
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF de la factura
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /payments:
    get:
      tags: [Billing]
      summary: Obtener historial de pagos
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, failed, refunded]
      responses:
        '200':
          description: Historial de pagos

  /payments/{payment_id}:
    get:
      tags: [Billing]
      summary: Obtener pago por ID
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles del pago

  /payments/{payment_id}/refund:
    post:
      tags: [Billing]
      summary: Solicitar reembolso
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                reason:
                  type: string
      responses:
        '200':
          description: Reembolso procesado

  # ===========================================
  # ANALYTICS & REPORTS
  # ===========================================
  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Dashboard principal
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Métricas del dashboard

  /analytics/listings:
    get:
      tags: [Analytics]
      summary: Analíticas de listings
      parameters:
        - name: listing_id
          in: query
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Métricas de listings

  /analytics/users:
    get:
      tags: [Analytics]
      summary: Analíticas de usuarios (admin)
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Métricas de usuarios

  /analytics/revenue:
    get:
      tags: [Analytics]
      summary: Analíticas de ingresos (admin)
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
        - name: granularity
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Métricas de ingresos

  /analytics/performance:
    get:
      tags: [Analytics]
      summary: Analíticas de rendimiento
      parameters:
        - name: metric
          in: query
          schema:
            type: string
            enum: [views, leads, conversion_rate, avg_days_on_market]
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Métricas de rendimiento

  /reports/listings:
    get:
      tags: [Analytics]
      summary: Reporte de listings
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv, pdf]
            default: json
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Reporte generado

  /reports/revenue:
    get:
      tags: [Analytics]
      summary: Reporte de ingresos (admin)
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv, pdf]
            default: json
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Reporte de ingresos

  # ===========================================
  # VERIFICATION & MODERATION
  # ===========================================
  /verifications:
    get:
      tags: [Verification]
      summary: Obtener verificaciones (moderador)
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
        - name: type
          in: query
          schema:
            type: string
            enum: [listing, agency, user]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Lista de verificaciones

    post:
      tags: [Verification]
      summary: Solicitar verificación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_type, target_id]
              properties:
                target_type:
                  type: string
                  enum: [listing, agency, user]
                target_id:
                  type: string
                  format: uuid
                documents:
                  type: array
                  items:
                    type: string
                    format: uuid
                notes:
                  type: string
      responses:
        '201':
          description: Verificación solicitada

  /verifications/{verification_id}:
    get:
      tags: [Verification]
      summary: Obtener verificación por ID
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de la verificación

    put:
      tags: [Verification]
      summary: Procesar verificación (moderador)
      parameters:
        - name: verification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [approved, rejected]
                notes:
                  type: string
                requirements:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Verificación procesada

  /moderation/queue:
    get:
      tags: [Verification]
      summary: Cola de moderación
      parameters:
        - name: priority
          in: query
          schema:
            type: string
            enum: [high, medium, low]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Cola de moderación

  /moderation/assign:
    post:
      tags: [Verification]
      summary: Asignar moderador
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [verification_id, moderator_id]
              properties:
                verification_id:
                  type: string
                  format: uuid
                moderator_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Moderador asignado

  # ===========================================
  # NOTIFICATIONS
  # ===========================================
  /notifications:
    get:
      tags: [Notifications]
      summary: Obtener notificaciones
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [new_listing, price_change, lead, verification, payment]
        - name: read
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Lista de notificaciones

  /notifications/{notification_id}/read:
    put:
      tags: [Notifications]
      summary: Marcar como leída
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notificación marcada como leída

  /notifications/read-all:
    put:
      tags: [Notifications]
      summary: Marcar todas como leídas
      responses:
        '200':
          description: Todas las notificaciones marcadas como leídas

  /notifications/settings:
    get:
      tags: [Notifications]
      summary: Obtener configuración de notificaciones
      responses:
        '200':
          description: Configuración actual

    put:
      tags: [Notifications]
      summary: Actualizar configuración de notificaciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_enabled:
                  type: boolean
                push_enabled:
                  type: boolean
                sms_enabled:
                  type: boolean
                whatsapp_enabled:
                  type: boolean
                categories:
                  type: object
                  properties:
                    new_listings:
                      type: boolean
                    price_changes:
                      type: boolean
                    leads:
                      type: boolean
                    verifications:
                      type: boolean
                    payments:
                      type: boolean
      responses:
        '200':
          description: Configuración actualizada

  # ===========================================
  # ADMIN ENDPOINTS
  # ===========================================
  /admin/dashboard:
    get:
      tags: [Admin]
      summary: Dashboard de administración
      responses:
        '200':
          description: Métricas administrativas

  /admin/users:
    get:
      tags: [Admin]
      summary: Gestión de usuarios (admin)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: role
          in: query
          schema:
            type: string
            enum: [user, tenant, landlord, agent, admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, suspended]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de usuarios para administración

  /admin/users/{user_id}/suspend:
    post:
      tags: [Admin]
      summary: Suspender usuario
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                duration:
                  type: integer
                  description: Días de suspensión
      responses:
        '200':
          description: Usuario suspendido

  /admin/users/{user_id}/unsuspend:
    post:
      tags: [Admin]
      summary: Quitar suspensión
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Suspensión removida

  /admin/listings:
    get:
      tags: [Admin]
      summary: Gestión de listings (admin)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, inactive, sold, rented, expired, flagged]
        - name: verification_status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        '200':
          description: Lista de listings para administración

  /admin/listings/{listing_id}/flag:
    post:
      tags: [Admin]
      summary: Marcar listing como problemático
      parameters:
        - name: listing_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  enum: [spam, inappropriate, false_info, duplicate]
                notes:
                  type: string
      responses:
        '200':
          description: Listing marcado

  /admin/system/health:
    get:
      tags: [Admin]
      summary: Estado del sistema
      responses:
        '200':
          description: Estado de salud del sistema

  /admin/system/metrics:
    get:
      tags: [Admin]
      summary: Métricas del sistema
      responses:
        '200':
          description: Métricas técnicas del sistema

  /admin/audit-log:
    get:
      tags: [Admin]
      summary: Log de auditoría
      parameters:
        - name: action
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
        - name: from_date
          in: query
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Entradas del log de auditoría

  # ===========================================
  # EXTERNAL INTEGRATIONS
  # ===========================================
  /integrations/whatsapp/webhook:
    post:
      tags: [Integrations]
      summary: Webhook de WhatsApp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook procesado

  /integrations/payment/stripe/webhook:
    post:
      tags: [Integrations]
      summary: Webhook de Stripe
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook procesado

  /integrations/payment/culqi/webhook:
    post:
      tags: [Integrations]
      summary: Webhook de Culqi
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook procesado

  /integrations/maps/geocode:
    get:
      tags: [Integrations]
      summary: Geocodificación de direcciones
      parameters:
        - name: address
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Coordenadas de la dirección

  /integrations/maps/reverse-geocode:
    get:
      tags: [Integrations]
      summary: Geocodificación inversa
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
        - name: lng
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Dirección de las coordenadas

  /integrations/maps/nearby-places:
    get:
      tags: [Integrations]
      summary: Buscar lugares cercanos
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
        - name: lng
          in: query
          required: true
          schema:
            type: number
        - name: radius
          in: query
          schema:
            type: number
            default: 1000
        - name: type
          in: query
          schema:
            type: string
            enum: [school, hospital, bank, supermarket, restaurant, metro, bus_station]
      responses:
        '200':
          description: Lugares cercanos encontrados

  /integrations/payment/mercadopago/webhook:
    post:
      tags: [Integrations]
      summary: Webhook de MercadoPago
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook procesado

  /integrations/payment/paypal/webhook:
    post:
      tags: [Integrations]
      summary: Webhook de PayPal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook procesado

  # ===========================================
  # BULK OPERATIONS
  # ===========================================
  /bulk/listings/import:
    post:
      tags: [Bulk Operations]
      summary: Importar listings masivamente
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo CSV o Excel
                mapping:
                  type: object
                  description: Mapeo de columnas
      responses:
        '202':
          description: Importación iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid

  /bulk/listings/export:
    post:
      tags: [Bulk Operations]
      summary: Exportar listings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                format:
                  type: string
                  enum: [csv, excel, pdf]
                  default: csv
                fields:
                  type: array
                  items:
                    type: string
      responses:
        '202':
          description: Exportación iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid

  /bulk/jobs/{job_id}:
    get:
      tags: [Bulk Operations]
      summary: Estado de trabajo en lote
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Estado del trabajo
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]
                  progress:
                    type: number
                    minimum: 0
                    maximum: 100
                  total_records:
                    type: integer
                  processed_records:
                    type: integer
                  failed_records:
                    type: integer
                  download_url:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time

  # ===========================================
  # WEBHOOKS MANAGEMENT
  # ===========================================
  /webhooks:
    get:
      tags: [Webhooks]
      summary: Listar webhooks configurados
      responses:
        '200':
          description: Lista de webhooks

    post:
      tags: [Webhooks]
      summary: Crear webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                    enum: [listing.created, listing.updated, listing.deleted, user.registered, payment.completed, lead.created]
                secret:
                  type: string
                active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Webhook creado

  /webhooks/{webhook_id}:
    get:
      tags: [Webhooks]
      summary: Obtener webhook por ID
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles del webhook

    put:
      tags: [Webhooks]
      summary: Actualizar webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                secret:
                  type: string
                active:
                  type: boolean
      responses:
        '200':
          description: Webhook actualizado

    delete:
      tags: [Webhooks]
      summary: Eliminar webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Webhook eliminado

  /webhooks/{webhook_id}/test:
    post:
      tags: [Webhooks]
      summary: Probar webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
      responses:
        '200':
          description: Webhook probado exitosamente

  # ===========================================
  # API KEYS & DEVELOPER TOOLS
  # ===========================================
  /api-keys:
    get:
      tags: [Developer Tools]
      summary: Listar API keys
      responses:
        '200':
          description: Lista de API keys

    post:
      tags: [Developer Tools]
      summary: Crear API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [read, write, admin]
                rate_limit:
                  type: integer
                  default: 1000
                expires_at:
                  type: string
                  format: date-time
                  nullable: true
      responses:
        '201':
          description: API key creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  name:
                    type: string
                  scopes:
                    type: array
                    items:
                      type: string

  /api-keys/{key_id}:
    put:
      tags: [Developer Tools]
      summary: Actualizar API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
                rate_limit:
                  type: integer
                active:
                  type: boolean
      responses:
        '200':
          description: API key actualizada

    delete:
      tags: [Developer Tools]
      summary: Revocar API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key revocada

  /api-keys/{key_id}/regenerate:
    post:
      tags: [Developer Tools]
      summary: Regenerar API key
      parameters:
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key regenerada
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string

  # ===========================================
  # SYSTEM UTILITIES
  # ===========================================
  /health:
    get:
      tags: [System]
      summary: Health check del sistema
      security: []
      responses:
        '200':
          description: Sistema funcionando correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [healthy, unhealthy]
                      redis:
                        type: string
                        enum: [healthy, unhealthy]
                      kafka:
                        type: string
                        enum: [healthy, unhealthy]

  /version:
    get:
      tags: [System]
      summary: Información de versión
      security: []
      responses:
        '200':
          description: Información de versión de la API
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  build:
                    type: string
                  commit:
                    type: string
                  build_date:
                    type: string
                    format: date-time

  /docs:
    get:
      tags: [System]
      summary: Documentación interactiva de la API
      security: []
      responses:
        '200':
          description: Documentación Swagger/OpenAPI
          content:
            text/html:
              schema:
                type: string

# ===========================================
# COMPONENTS & SCHEMAS
# ===========================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Autenticación usando JWT Token.
        
        **Formato**: `Authorization: Bearer <token>`
    
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Autenticación usando API Key para integraciones.
        
        **Formato**: `X-API-Key: <your-api-key>`

  parameters:
    PageParam:
      name: page
      in: query
      description: Número de página (empezando en 1)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    
    LimitParam:
      name: limit
      in: query
      description: Número de elementos por página
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

  schemas:
    UserResponse:
      type: object
      properties:
        id:
          type: string
          description: ID único del usuario
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: Email del usuario
          example: "juan.perez@email.com"
        first_name:
          type: string
          nullable: true
          description: Nombre del usuario
          example: "Juan"
        last_name:
          type: string
          nullable: true
          description: Apellido del usuario
          example: "Pérez"
        phone:
          type: string
          nullable: true
          description: Teléfono del usuario
          example: "+51987654321"
        profile_picture_url:
          type: string
          format: uri
          nullable: true
          description: URL de la foto de perfil del usuario
          example: "https://cdn.easyrent.pe/avatars/user123.jpg"
        national_id:
          type: string
          nullable: true
          description: Número de documento de identidad
          example: "12345678"
        national_id_type:
          type: string
          nullable: true
          description: Tipo de documento de identidad
          example: "DNI"
        role:
          type: string
          enum: [user, tenant, landlord, agent, admin]
          description: Rol del usuario
          example: "user"
        is_verified:
          type: boolean
          description: Si el usuario está verificado
          example: false
        is_active:
          type: boolean
          description: Si el usuario está activo
          example: true
        last_login_at:
          type: string
          format: date-time
          nullable: true
          description: Fecha del último login
          example: "2025-09-04T01:00:00Z"
        created_at:
          type: string
          format: date-time
          description: Fecha de creación
          example: "2025-09-04T01:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Fecha de última actualización
          example: "2025-09-04T01:00:00Z"

    # Mantenemos User como alias para compatibilidad
    User:
      $ref: '#/components/schemas/UserResponse'
          description: Fecha de última actualización
          example: "2025-08-28T10:00:00Z"

    Agency:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "789e0123-e89b-12d3-a456-426614174002"
        name:
          type: string
          example: "Inmobiliaria Benites"
        description:
          type: string
          example: "Líder en el mercado inmobiliario de Lima"
        logo_url:
          type: string
          format: uri
          example: "https://cdn.easyrent.pe/logos/agency123.jpg"
        website:
          type: string
          format: uri
          example: "https://inmobiliariabenites.com"
        phone:
          type: string
          example: "+51987654321"
        email:
          type: string
          format: email
          example: "contacto@inmobiliariabenites.com"
        address:
          type: string
          example: "Av. Arequipa 1234, Lima"
        city:
          type: string
          example: "Lima"
        verified:
          type: boolean
          example: true
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
          example: 4.7
        total_agents:
          type: integer
          example: 15
        active_listings:
          type: integer
          example: 89
        created_at:
          type: string
          format: date-time
          example: "2025-08-28T10:00:00Z"

    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID único de la propiedad
          example: "456e7890-e89b-12d3-a456-426614174001"
        title:
          type: string
          description: Título de la propiedad
          example: "Hermoso departamento en Miraflores con vista al mar"
        description:
          type: string
          description: Descripción detallada
          example: "Amplio departamento de 3 dormitorios..."
        operation_type:
          type: string
          enum: [sale, rent, temp_rent, pre_sale]
          description: Tipo de operación
          example: "sale"
        property_type:
          type: string
          enum: [house, apartment, office, commercial, land, warehouse]
          description: Tipo de propiedad
          example: "apartment"
        price:
          type: number
          description: Precio de la propiedad
          example: 250000
        currency:
          type: string
          default: "PEN"
          description: Moneda del precio
          example: "USD"
        area:
          type: number
          description: Área en metros cuadrados
          example: 120.5
        bedrooms:
          type: integer
          minimum: 0
          description: Número de dormitorios
          example: 3
        bathrooms:
          type: integer
          minimum: 0
          description: Número de baños
          example: 2
        parking_spots:
          type: integer
          minimum: 0
          description: Espacios de estacionamiento
          example: 1
        address:
          type: string
          description: Dirección completa
          example: "Av. Larco 123, Miraflores"
        city:
          type: string
          description: Ciudad
          example: "Lima"
        district:
          type: string
          description: Distrito
          example: "Miraflores"
        latitude:
          type: number
          format: double
          description: Latitud
          example: -12.1191
        longitude:
          type: number
          format: double
          description: Longitud
          example: -77.0372
        features:
          type: array
          items:
            type: string
          description: Características de la propiedad
          example: ["balcón", "cocina_equipada", "aire_acondicionado"]
        amenities:
          type: array
          items:
            type: string
          description: Amenidades del edificio/complejo
          example: ["piscina", "gimnasio", "portería_24h"]
        status:
          type: string
          enum: [draft, active, inactive, sold, rented, expired]
          description: Estado de la propiedad
          example: "active"
        verified:
          type: boolean
          description: Si la propiedad está verificada
          example: true
        views_count:
          type: integer
          description: Número total de visualizaciones
          example: 1245
        leads_count:
          type: integer
          description: Número de leads generados
          example: 15
        images_count:
          type: integer
          description: Número de imágenes
          example: 8
        videos_count:
          type: integer
          description: Número de videos
          example: 1
        created_at:
          type: string
          format: date-time
          example: "2025-08-28T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-08-28T10:00:00Z"

    Plan:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "plan_123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          example: "Plan Premium"
        description:
          type: string
          example: "Plan completo para agencias inmobiliarias"
        price_monthly:
          type: number
          example: 99.99
        price_yearly:
          type: number
          example: 999.99
        features:
          type: array
          items:
            type: string
          example: ["Listings ilimitados", "Analytics avanzados", "Soporte premium"]
        limits:
          type: object
          properties:
            max_listings:
              type: integer
              example: -1
            max_images:
              type: integer
              example: 50
            max_videos:
              type: integer
              example: 5
        active:
          type: boolean
          example: true

    # Request/Response Schemas
    CreateUserRequest:
      type: object
      required: [email, password, first_name, last_name, phone, role]
      properties:
        email:
          type: string
          format: email
          example: "juan.perez@email.com"
        password:
          type: string
          minLength: 8
          example: "mi_password_seguro123"
        first_name:
          type: string
          example: "Juan"
        last_name:
          type: string
          example: "Pérez"
        phone:
          type: string
          example: "+51987654321"
        role:
          type: string
          enum: [user, tenant, landlord, agent, admin]
          example: "landlord"

    UpdateUserRequest:
      type: object
      properties:
        first_name:
          type: string
          example: "Juan Carlos"
        last_name:
          type: string
          example: "Pérez García"
        phone:
          type: string
          example: "+51987654321"
        bio:
          type: string
          example: "Agente inmobiliario especializado en Lima Moderna"

    CreateAgencyRequest:
      type: object
      required: [name, phone, email, address, city]
      properties:
        name:
          type: string
          example: "Inmobiliaria Benites"
        description:
          type: string
          example: "Especialistas en propiedades de lujo"
        phone:
          type: string
          example: "+51987654321"
        email:
          type: string
          format: email
          example: "contacto@inmobiliariabenites.com"
        website:
          type: string
          example: "https://inmobiliariabenites.com"
        address:
          type: string
          example: "Av. Arequipa 1234, Lima"
        city:
          type: string
          example: "Lima"

    UpdateAgencyRequest:
      type: object
      properties:
        name:
          type: string
          example: "Inmobiliaria Benites SAC"
        description:
          type: string
          example: "Descripción actualizada"
        phone:
          type: string
          example: "+51987654321"
        email:
          type: string
          format: email
          example: "nuevo@inmobiliariabenites.com"
        website:
          type: string
          example: "https://new.inmobiliariabenites.com"
        address:
          type: string
          example: "Nueva dirección"

    CreateListingRequest:
      type: object
      required: [title, operation_type, property_type, price, area, address, city, district]
      properties:
        title:
          type: string
          minLength: 10
          maxLength: 200
          example: "Hermoso departamento en Miraflores"
        description:
          type: string
          maxLength: 2000
          example: "Amplio departamento de 3 dormitorios..."
        operation_type:
          type: string
          enum: [sale, rent, temp_rent, pre_sale]
          example: "sale"
        property_type:
          type: string
          enum: [house, apartment, office, commercial, land, warehouse]
          example: "apartment"
        price:
          type: number
          minimum: 0
          example: 250000
        currency:
          type: string
          enum: [PEN, USD]
          default: "PEN"
          example: "USD"
        area:
          type: number
          minimum: 1
          example: 120.5
        bedrooms:
          type: integer
          minimum: 0
          maximum: 20
          example: 3
        bathrooms:
          type: integer
          minimum: 0
          maximum: 20
          example: 2
        parking_spots:
          type: integer
          minimum: 0
          maximum: 10
          example: 1
        age_years:
          type: integer
          minimum: 0
          maximum: 200
          description: "Antigüedad de la vivienda en años"
          example: 5
        address:
          type: string
          minLength: 10
          maxLength: 200
          example: "Av. Larco 123, Miraflores"
        city:
          type: string
          minLength: 2
          maxLength: 50
          example: "Lima"
        district:
          type: string
          minLength: 2
          maxLength: 50
          example: "Miraflores"
        features:
          type: array
          items:
            type: string
          maxItems: 20
          example: ["balcón", "cocina_equipada"]
        amenities:
          type: array
          items:
            type: string
          maxItems: 20
          example: ["piscina", "gimnasio"]

    UpdateListingRequest:
      type: object
      properties:
        title:
          type: string
          example: "Título actualizado"
        description:
          type: string
          example: "Descripción actualizada"
        price:
          type: number
          example: 230000
        area:
          type: number
          example: 125.0
        bedrooms:
          type: integer
          example: 3
        bathrooms:
          type: integer
          example: 2
        parking_spots:
          type: integer
          example: 2
        features:
          type: array
          items:
            type: string
          example: ["balcón", "terraza"]
        amenities:
          type: array
          items:
            type: string
          example: ["piscina", "sala_eventos"]

    UserPreferences:
      type: object
      properties:
        language:
          type: string
          default: es
          example: "es"
        currency:
          type: string
          default: PEN
          example: "PEN"
        timezone:
          type: string
          default: America/Lima
          example: "America/Lima"
        notifications:
          type: object
          properties:
            email:
              type: boolean
              default: true
            push:
              type: boolean
              default: true
            sms:
              type: boolean
              default: false

    PrivacySettings:
      type: object
      properties:
        profile_visible:
          type: boolean
          default: true
        contact_visible:
          type: boolean
          default: true
        marketing_emails:
          type: boolean
          default: false
        data_processing_consent:
          type: boolean
          default: true

    # Pagination Schemas
    PaginatedUsers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedAgencies:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Agency'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedListings:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          description: Página actual
          example: 1
        per_page:
          type: integer
          description: Elementos por página
          example: 20
        total:
          type: integer
          description: Total de elementos
          example: 150
        last_page:
          type: integer
          description: Última página
          example: 8
        from:
          type: integer
          description: Elemento inicial en la página
          example: 1
        to:
          type: integer
          description: Elemento final en la página
          example: 20
        has_next:
          type: boolean
          description: Si hay página siguiente
          example: true
        has_prev:
          type: boolean
          description: Si hay página anterior
          example: false

    SearchResults:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        facets:
          type: object
          description: Facetas para filtros
          properties:
            cities:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: "Lima"
                  count:
                    type: integer
                    example: 45
            districts:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: "Miraflores"
                  city:
                    type: string
                    example: "Lima"
                  count:
                    type: integer
                    example: 12
            price_ranges:
              type: array
              items:
                type: object
                properties:
                  min:
                    type: number
                    example: 100000
                  max:
                    type: number
                    example: 200000
                  count:
                    type: integer
                    example: 25
        search_info:
          type: object
          properties:
            query:
              type: string
              example: "departamento 3 dormitorios"
            total_results:
              type: integer
              example: 150
            search_time:
              type: number
              description: Tiempo de búsqueda en ms
              example: 45.2

    # Error Schema
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Código de error único
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Mensaje de error legible
              example: "Los datos proporcionados no son válidos"
            details:
              type: object
              nullable: true
              description: Detalles adicionales del error
              example:
                field: "email"
                issue: "Email already exists"
            timestamp:
              type: string
              format: date-time
              example: "2025-08-28T10:00:00Z"
            request_id:
              type: string
              description: ID único de la petición
              example: "req_123456789"
              $ref: '#/components/schemas/UserRegistrationRequest'
            example:
              email: "juan.perez@email.com"
              password: "mi_password_seguro123"
              first_name: "Juan"
              last_name: "Pérez"
              phone: "+51987654321"
              role: "landlord"
              marketing_consent: true
      responses:
        '201':
          description: ✅ Usuario creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationResponse'
        '400':
          description: ❌ Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: ⚠️ Email ya existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Authentication]
      summary: 🔑 Inicio de sesión
      description: Autentica un usuario y devuelve tokens JWT
      operationId: login_user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: "juan.perez@email.com"
              password: "mi_password_seguro123"
              remember_me: true
      responses:
        '200':
          description: ✅ Login exitoso
[...]
